In [1]:
use master

In [ ]:
create database test4

In [8]:
-- create SQL login in master database
CREATE LOGIN testLogin1
WITH PASSWORD = '!1QWErty123456';

In [4]:
drop LOGIN testLogin1

In [5]:
create database test4

In [13]:
create table test4.dbo.Product (Name [varchar](100) , ProductNumber [varchar](10) , StandardCost int, ListPrice int, SellStartDate datetime)

In [12]:
drop table test4.dbo.Product

In [14]:
select * from test4.dbo.Product

Name,ProductNumber,StandardCost,ListPrice,SellStartDate
SQL Server Exp,SQLEXPRESS,0,0,1900-01-01 00:00:00.000

In [6]:
use test4

In [9]:
-- add database user for login testLogin1
CREATE USER [testLogin1]
FROM LOGIN [testLogin1]
WITH DEFAULT_SCHEMA=dbo;

In [10]:
-- add user to database role(s) (i.e. db_owner)
ALTER ROLE db_owner ADD MEMBER [testLogin1];