In [35]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\temp\python\python4azure\lib\site-packages (4.0.32)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\TEMP\Python\Python4azure\python.exe -m pip install --upgrade pip' command.

In [2]:
import pyodbc

In [6]:
server = 'localhost' 
database = 'test5' 
username = 'testlogin3' 
password = '!Qwerty123' 
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [13]:
#Sample select query
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
	Sep 24 2019 13:48:23
	Copyright (C) 2019 Microsoft Corporation
	Developer Edition (64-bit) on Windows 10 Enterprise 10.0 <X64> (Build 19042: )

In [14]:
#Sample insert query
count = cursor.execute("""
INSERT INTO test5.dbo.Product (Name, ProductNumber, StandardCost, ListPrice, SellStartDate) 
VALUES (?,?,?,?,?)""",
'Another Server', 'SQL New', 0, 0, '01:00').rowcount
cnxn.commit()
print('Rows inserted: ' + str(count))

Rows inserted: 1

In [36]:
#Sample select query
cursor.execute("SELECT * FROM test5.dbo.Product ;") 
row = cursor.fetchone() 
while row: 
    print(row)
    row = cursor.fetchone()

('SQL Server New 2021', 'SQL2021', 0, 0, datetime.datetime(1900, 1, 1, 0, 0))
('Another Server', 'SQL New', 0, 0, datetime.datetime(1900, 1, 1, 1, 0))

In [30]:
#Sample select query
cursor.execute("SELECT * FROM test5.dbo.Product ;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

SQL Server New 2021
Another Server

In [34]:
#Sample select query
cursor.execute("SELECT * FROM sysusers ;") 
row = cursor.fetchone() 
while row: 
    print(row[2])
    row = cursor.fetchone()

public
dbo
guest
INFORMATION_SCHEMA
sys
testlogin2
testlogin3
db_owner
db_accessadmin
db_securityadmin
db_ddladmin
db_backupoperator
db_datareader
db_datawriter
db_denydatareader
db_denydatawriter

In [28]:
cursor.execute("SELECT * FROM test5.dbo.Product ;") 
row = cursor.fetchall() 
print(row)

[('SQL Server New 2021', 'SQL2021', 0, 0, datetime.datetime(1900, 1, 1, 0, 0)), ('Another Server', 'SQL New', 0, 0, datetime.datetime(1900, 1, 1, 1, 0))]