based on 

https://www.sqlshack.com/delete-cascade-and-update-cascade-in-sql-server-foreign-key/

**DELETE CASCADE**: When we create a foreign key using this option, it deletes the referencing rows in the child table when the referenced row is deleted in the parent table which has a primary key.

**UPDATE CASCADE:** When we create a foreign key using UPDATE CASCADE the referencing rows are updated in the child table when the referenced row is updated in the parent table which has a primary key.

We will be discussing the following topics in this article:

1. Creating DELETE and UPDATE CASCADE rule in a foreign key using SQL Server management studio
2. Creating DELETE CASCADE and UPDATE CASCADE rule in a foreign key using T-SQL script
3. Triggers on a table with DELETE or UPDATE cascading foreign key

Let us see how to create a foreign key with DELETE and UPDATE CASCADE rules along with few examples.

<span style="color: rgb(37, 37, 37); font-family: &quot;Segoe UI&quot;, Tahoma, Arial; background-color: rgb(255, 255, 255);">Please refer to the below T-SQL script which creates a parent, child table and a foreign key on the child table with DELETE CASCADE rule.</span>

In [1]:
create database test3

In [2]:
CREATE TABLE test3.dbo.Countries
 
(CountryID INT PRIMARY KEY,
CountryName VARCHAR(50),
CountryCode VARCHAR(3))

In [3]:
CREATE TABLE test3.dbo.States
 
(StateID INT PRIMARY KEY,
StateName VARCHAR(50),
StateCode VARCHAR(3),
CountryID INT)

In [4]:
ALTER TABLE [test3].[dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_States_Countries] FOREIGN KEY([CountryID])
REFERENCES [test3].[dbo].[Countries] ([CountryID])
ON DELETE CASCADE

 
ALTER TABLE [test3].[dbo].[States] CHECK CONSTRAINT [FK_States_Countries]

In [5]:
INSERT INTO  [test3].[dbo].Countries VALUES (1,'United States','USA')
 
INSERT INTO  [test3].[dbo].Countries VALUES (2,'United Kingdom','UK')
 
INSERT INTO  [test3].[dbo].States VALUES (1,'Texas','TX',1)
INSERT INTO  [test3].[dbo].States VALUES (2,'Arizona','AZ',1)

In [6]:
SELECT * FROM [test3].[dbo].[Countries]
SELECT * FROM [test3].[dbo].[States]

CountryID,CountryName,CountryCode
1,United States,USA
2,United Kingdom,UK

StateID,StateName,StateCode,CountryID
1,Texas,TX,1
2,Arizona,AZ,1

In [9]:
delete from test3.dbo.Countries WHERE CountryID = 1

SELECT * FROM [test3].[dbo].[Countries]
SELECT * FROM [test3].[dbo].[States]

CountryID,CountryName,CountryCode
2,United Kingdom,UK

Please refer to the below T-SQL script to create a foreign key with UPDATE CASCADE rule.

In [15]:
drop table [test3].[dbo].[Countries]
drop table [test3].[dbo].[States]
GO

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'test3.dbo.Countries', because it does not exist or you do not have permission.

In [16]:
SELECT * FROM [test3].[dbo].[Countries]

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'test3.dbo.Countries'.

In [12]:
TRUNCATE TABLE  [test3].[dbo].[Countries]

In [17]:
CREATE TABLE [test3].[dbo].[Countries]
 
(CountryID INT PRIMARY KEY,
CountryName VARCHAR(50),
CountryCode VARCHAR(3))
 
 
CREATE TABLE [test3].[dbo].[States]
 
(StateID INT PRIMARY KEY,
StateName VARCHAR(50),
StateCode VARCHAR(3),
CountryID INT)
 
GO
 
INSERT INTO [test3].[dbo].Countries VALUES (1,'United States','USA')
 
INSERT INTO [test3].[dbo].Countries VALUES (2,'United Kingdom','UK')
 
INSERT INTO [test3].[dbo].States VALUES (1,'Texas','TX',1)
INSERT INTO [test3].[dbo].States VALUES (2,'Arizona','AZ',1)
 
GO
 
ALTER TABLE [test3].[dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_States_Countries]
     FOREIGN KEY([CountryID])
     REFERENCES [test3].[dbo].[Countries] ([CountryID])
     ON UPDATE CASCADE
GO
 
ALTER TABLE [test3].[dbo].[States] CHECK CONSTRAINT [FK_States_Countries]

--ALTER TABLE [test3].[dbo].[States] DROP CONSTRAINT [FK_States_Countries]

: Msg 4902, Level 16, State 1, Line 33
Cannot find the object "dbo.States" because it does not exist or you do not have permissions.

In [21]:
select * from test3.dbo.Countries
select * from test3.dbo.States

CountryID,CountryName,CountryCode
1,United States,USA
2,United Kingdom,UK

StateID,StateName,StateCode,CountryID
1,Texas,TX,1
2,Arizona,AZ,1

In [ ]:
select * from test3.dbo.Countries
select * from test3.dbo.States

In [22]:
UPDATE test3.dbo.Countries SET CountryID =3 where CountryID=1

select * from test3.dbo.Countries
select * from test3.dbo.States

CountryID,CountryName,CountryCode
2,United Kingdom,UK
3,United States,USA

StateID,StateName,StateCode,CountryID
1,Texas,TX,3
2,Arizona,AZ,3

In [25]:
SELECT name,delete_referential_action,delete_referential_action_desc,update_referential_action,update_referential_action_desc 
FROM sys.foreign_keys --where name ='FK_States_Countries'

name,delete_referential_action,delete_referential_action_desc,update_referential_action,update_referential_action_desc
FK_Emp,0,NO_ACTION,0,NO_ACTION
FK__Emp__DeptID__147C05D0,0,NO_ACTION,0,NO_ACTION

Let’s move forward and check the behavior of delete and update rules the foreign keys on a child table which acts as parent table to another child table. The below example demonstrates this scenario.

In this case, “**Countries**” is the parent table of the “**States**” table and the “**States**” table is the parent table of **Cities** table.

We will create a foreign key now with cascade as delete rule on States table which references to CountryID in parent table Countries.

In [31]:
TRUNCATE table test3.dbo.States
DROP TABLE test3.dbo.States

In [33]:
TRUNCATE table test3.dbo.Countries
DROP TABLE test3.dbo.Countries

In [34]:
CREATE TABLE test3.dbo.Countries
 
(CountryID INT PRIMARY KEY,
CountryName VARCHAR(50),
CountryCode VARCHAR(3))
 
 
CREATE TABLE test3.dbo.States
 
(StateID INT PRIMARY KEY,
StateName VARCHAR(50),
StateCode VARCHAR(3),
CountryID INT)
 
GO
 
 
CREATE TABLE test3.dbo.Cities
(CityID INT,
CityName varchar(50),
StateID INT)
GO
 
INSERT INTO test3.dbo.Countries VALUES (1,'United States','USA')
 
INSERT INTO test3.dbo.Countries VALUES (2,'United Kingdom','UK')
 
INSERT INTO test3.dbo.States VALUES (1,'Texas','TX',1)
INSERT INTO test3.dbo.States VALUES (2,'Arizona','AZ',1)
 
INSERT INTO test3.dbo.Cities VALUES(1,'Texas City',1)
INSERT INTO test3.dbo.Cities values (1,'Phoenix',2)
 
GO

In [35]:
ALTER TABLE test3.[dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_States_Countries] FOREIGN KEY([CountryID])
REFERENCES test3.[dbo].[Countries] ([CountryID])
ON DELETE CASCADE
GO

In [36]:
SELECT * FROM test3.[dbo].[Countries]
SELECT * FROM test3.[dbo].States
SELECT * FROM test3.[dbo].[Cities]

CountryID,CountryName,CountryCode
1,United States,USA
2,United Kingdom,UK

StateID,StateName,StateCode,CountryID
1,Texas,TX,1
2,Arizona,AZ,1

CityID,CityName,StateID
1,Texas City,1
1,Phoenix,2

In [38]:
ALTER TABLE test3.[dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_States] FOREIGN KEY([StateID])
REFERENCES test3.[dbo].[States] ([StateID])
GO

In [39]:
DELETE FROM test3.[dbo].Countries where CountryID =1

: Msg 547, Level 16, State 0, Line 1
The DELETE statement conflicted with the REFERENCE constraint "FK_Cities_States". The conflict occurred in database "test3", table "dbo.Cities", column 'StateID'.

**EXERCISE: HOW TO FIX THE PROBLEM ABOVE?**