1\. INNER JOIN script

In [2]:
SELECT      top (10)

StudentID,

OlympicsData_Disciplines.Edition,
Athlete,
NOC

FROM mydb.dbo.OlympicsData_Disciplines
JOIN mydb.dbo.OlympicsData_medalists ON OlympicsData_Disciplines.DisciplineID = OlympicsData_medalists.DisciplineID

WHERE StudentID IS NULL --fill with your own name
and Discipline = 'Football'

StudentID,Edition,Athlete,NOC
NULL,2016,"BUCKENHAM, Claude Percy",GBR
NULL,2016,"BURRIDGE, T.E.",GBR
NULL,2016,"CHALK, Alfred Ernest",GBR
NULL,2016,"GROSLING, William Sullivan",GBR
NULL,2016,"HASLAM, A.",GBR
NULL,2016,"JONES, J.H.",GBR
NULL,2016,"NICHOLAS, J.",GBR
NULL,2016,"QUASH, William Francis",GBR
NULL,2016,"SPACKMAN, F.G.",GBR
NULL,2016,"TURNER, R.R.",GBR

2\. INSERT INTO example

In [10]:
INSERT INTO mydb.dbo.OlympicsData_sports (Sport, SportID)
VALUES ('HipHop', '50' )
;
INSERT INTO mydb.dbo.OlympicsData_sports (SportID, Sport)
VALUES ('51' , 'Pop Dance' )

;

select * from mydb.dbo.OlympicsData_sports
where SportID = 51

Sport,SportID
Pop Dance,51

In [12]:
select * from mydb.dbo.OlympicsData_sports

where SportID = 51
OR SportID = 50

Sport,SportID
HipHop,50
Pop Dance,51

3\. DELETE FROM example

In [8]:
DELETE 
FROM mydb.dbo.OlympicsData_sports
WHERE SportID = '50'

DELETE 
FROM mydb.dbo.OlympicsData_sports
WHERE SportID = '51'

4\. UPDATE statement

In [17]:
UPDATE mydb.dbo.OlympicsData_sports
SET Sport = 'Dance'
WHERE Sport = 'Pop Dance'

In [18]:
select * from mydb.dbo.OlympicsData_sports
WHERE Sport = 'Dance'

Sport,SportID
Dance,51

5\. LEFT JOIN example

In [27]:
select *
from mydb.dbo.OlympicsData_sports
left join mydb.dbo.OlympicsData_medalists
on OlympicsData_sports.SportID = OlympicsData_medalists.SportID

where Sport = 'Dance' --NEW ONE
or Sport = 'Football' --FROM HOMEWORK

Sport,DisciplineID
Dance,NULL
Football,28

6\. How to select unique values - SELECT DISTINCT

In [42]:
select distinct Sport, DisciplineID

from mydb.dbo.OlympicsData_sports
left join mydb.dbo.OlympicsData_medalists
on OlympicsData_sports.SportID = OlympicsData_medalists.SportID

where Sport = 'Dance' --NEW ONE
or Sport = 'Football' --FROM HOMEWORK

Sport,DisciplineID
Dance,NULL
Football,28

7\. WHERE use cases

- LIKE  for TEXT columns
- BETWEEN for integer
- ORDER BY (ASC, DESC)

In [45]:
select distinct Sport, DisciplineID, Edition

from mydb.dbo.OlympicsData_sports
left join mydb.dbo.OlympicsData_medalists
on OlympicsData_sports.SportID = OlympicsData_medalists.SportID

where -- Sport =  'Football' 
--Sport LIKE 'Foot%'

Sport LIKE '%oot%'

AND OlympicsData_medalists.Edition between 1990 and 2000

ORDER BY Edition DESC

Sport,DisciplineID,Edition
Football,28,2000
Shooting,49,2000
Football,28,1996
Shooting,49,1996
Football,28,1992
Shooting,49,1992

8\. Aggregation = GROUP BY

- COUNT()
- AVG()
- MAX()
- MIN()

In [50]:
SELECT
Edition,
COUNT(Athlete) as number_of_athletes
FROM  mydb.dbo.OlympicsData_medalists
WHERE MedalValue = 1
GROUP BY Edition
ORDER BY Edition DESC

Edition,number_of_athletes
2016,16
2014,25
2012,16
2010,23
2008,672
2006,0
2004,659
2002,0
2000,663
1998,0
1996,615
1994,0
1992,558
1988,506
1984,483
1980,458
1976,429
1972,387
1968,341
1964,330
1960,295
1956,296
1952,300
1948,276
1936,298
1932,213
1928,229
1924,301
1920,497
1912,301
1908,311
1904,188
1900,178

In [55]:
SELECT
Edition,
AVG(MedalistID) as number_of_athletes_in_average
FROM  mydb.dbo.OlympicsData_medalists
WHERE MedalValue = 1
GROUP BY Edition
ORDER BY Edition DESC

Edition,number_of_athletes_in_average
2016,32791
2014,32673
2012,32743
2010,32603
2008,31458
2006,29796
2004,29190
2002,27787
2000,26846
1998,25160
1996,24589
1994,23609
1992,22458
1988,20621
1984,18863
1980,17325
1976,15753
1972,14332
1968,13112
1964,11874
1960,10820
1956,9847
1952,8801
1948,7931
1936,7033
1932,6248
1928,5316
1924,4440
1920,3315
1912,2217
1908,1375
1904,744
1900,249

In [61]:
select
max(Edition) max_year
FROM  mydb.dbo.OlympicsData_medalists
WHERE MedalValue = 1
AND NOC = 'EST'

max_year
2008

In [62]:
select
min(Edition) min_year
FROM  mydb.dbo.OlympicsData_medalists
WHERE MedalValue = 1
AND NOC = 'EST'

max_year
1920

9\. ALTER TABLE, ALTER COLUMN

In [54]:
ALTER TABLE  mydb.dbo.OlympicsData_medalists
ALTER COLUMN MedalistID INT

10\. Combination of JOIN and GROUP BY

In [64]:
SELECT OlympicsData_Disciplines.[DisciplineID],
      --Student_ID --how many disciplines you had to describe???
      count(Event)  as  number_of_events
      , Edition
  FROM [mydb].[dbo].[OlympicsData_Disciplines]
  JOIN [mydb].[dbo].[OlympicsData_events] 
  ON OlympicsData_Disciplines.DisciplineID = OlympicsData_events.DisciplineID
  WHERE OlympicsData_Disciplines.DisciplineID = 2 
  AND E --Student_IDd-->your name 
  ition = 2016
  
  GROUP BY OlympicsData_Disciplines.DisciplineID, Edition

DisciplineID,number_of_events,Edition
2,28,2016
3,22,2016