INNER JOIN script

In [1]:
SELECT      top (10)

StudentID,
OlympicsData_Disciplines.Edition,
Athlete,
NOC

FROM mydb.dbo.OlympicsData_Disciplines
JOIN mydb.dbo.OlympicsData_medalists ON OlympicsData_Disciplines.DisciplineID = OlympicsData_medalists.DisciplineID

WHERE StudentID IS NULL --fill with your own name
and Discipline = 'Football'

StudentID,Edition,Athlete,NOC
NULL,2016,"BUCKENHAM, Claude Percy",GBR
NULL,2016,"BURRIDGE, T.E.",GBR
NULL,2016,"CHALK, Alfred Ernest",GBR
NULL,2016,"GROSLING, William Sullivan",GBR
NULL,2016,"HASLAM, A.",GBR
NULL,2016,"JONES, J.H.",GBR
NULL,2016,"NICHOLAS, J.",GBR
NULL,2016,"QUASH, William Francis",GBR
NULL,2016,"SPACKMAN, F.G.",GBR
NULL,2016,"TURNER, R.R.",GBR