In [ ]:
select Discipline,
count( distinct  Event) number_of_disciplies
from mydb.dbo.OlympicsData_Disciplines d
join mydb.dbo.OlympicsData_events e
on d.DisciplineID = e.DisciplineID
where StudentID = '***'
group by Discipline

In [25]:
DROP TABLE test4.dbo.PurchaseOrderDetail

In [26]:
drop database test4

In [ ]:
create table mydb.dbo.OlympicsData_number_of_disciplies (


)

import data from SELECT and insert it into a new table

In [46]:
select Discipline,
count( distinct  Event) number_of_disciplies

into mydb.dbo.OlympicsData_number_of_disciplies2

from mydb.dbo.OlympicsData_Disciplines d
join mydb.dbo.OlympicsData_events e
on d.DisciplineID = e.DisciplineID
where StudentID = '***'
group by Discipline

In [48]:
select * from mydb.dbo.OlympicsData_number_of_disciplies

In [47]:
TRUNCATE table mydb.dbo.OlympicsData_number_of_disciplies

In [44]:
insert into mydb.dbo.OlympicsData_number_of_disciplies  
VALUES ('Skating', 4)

In [ ]:
select distinct
StudentID

from mydb.dbo.OlympicsData_Disciplines d
join mydb.dbo.OlympicsData_events e
on d.DisciplineID = e.DisciplineID
where StudentID  LIKE '%ed%'

Exercise 1 - SUBQUERY

quering the data from a sub-query

In [76]:
select * from 
(
    select sum(number_of_events) new_sum 
    from (
        select Discipline,  
        count(Event) number_of_events
        from mydb.dbo.OlympicsData_Disciplines d
        join mydb.dbo.OlympicsData_events e
        on d.DisciplineID = e.DisciplineID
        where StudentID = '***'
        group by Discipline
    )a

)b

new_sum
6

Exercise 2 - WITH statement +UNION ALL 

https://www.w3schools.com/sql/sql\_union.asp

In [ ]:
with 

partEduard as (

    select 
    StudentID,
    d.Discipline,
    e.Event
    from mydb.dbo.OlympicsData_Disciplines d
    join mydb.dbo.OlympicsData_events e
    on d.DisciplineID = e.DisciplineID
    where StudentID = '***'
    
)
, part2_Adedamola as (  -->output
    select 
    StudentID,
    d.Discipline,
    e.Event
    from mydb.dbo.OlympicsData_Disciplines d
    join mydb.dbo.OlympicsData_events e
    on d.DisciplineID = e.DisciplineID
    where StudentID = '***'
)

, final_result as (
select * from  partEduard
UNION ALL
select * from part2_Adedamola
)

SELECT
StudentID,
count(event) total_num_of_events
from final_result
group by StudentID

# Stored procedures

Home exercise 3 - create and execute stored procedure

based on https://www.sqlservertutorial.net/sql-server-stored-procedures/sql-server-stored-procedure-parameters/

In [1]:
select TOP (10)
  NOC,
  Edition,
  min(MedalValue) as max_medal_value
  
  from mydb.dbo.OlympicsData_medalists 
  GROUP BY 
  NOC,
  Edition

NOC,Edition,max_medal_value
CHI,1928,2
MGL,1976,2
SLO,2000,1
KAZ,1994,1
KOR,1988,1
AFG,2008,3
NOR,1928,1
JPN,2000,1
IND,1964,1
JPN,1992,1

Create a stored procedure

In [108]:
  create PROCEDURE find_max_medal_value 
  AS
  BEGIN
  
  select 
  NOC,
  Edition,
  min(MedalValue) as max_medal_value
  from mydb.dbo.OlympicsData_medalists 
  GROUP BY 
  NOC,
  Edition

  END;

: Msg 2714, Level 16, State 3, Procedure find_max_medal_value, Line 1
There is already an object named 'find_max_medal_value' in the database.

Execute stored procedure

In [ ]:
EXECUTE find_max_medal_value;

Changing the stored procedure and adding a parameter

In [110]:
ALTER PROCEDURE find_max_medal_value(@country AS nvarchar(50))

  AS
  BEGIN
  
  select 
  NOC,
  Edition,
  min(MedalValue) as max_medal_value

  from mydb.dbo.OlympicsData_medalists 
  where NOC = @country
  GROUP BY 
  NOC,
  Edition

  END;

In [111]:
exec find_max_medal_value 'EST';

NOC,Edition,max_medal_value
EST,1920,1
EST,1924,1
EST,1928,1
EST,1936,1
EST,1992,1
EST,2000,1
EST,2002,1
EST,2004,2
EST,2006,1
EST,2008,1

Adding second argument

In [112]:
ALTER PROCEDURE find_max_medal_value(
    @country AS nvarchar(50),
    @year as int
    )

  AS
  BEGIN
  
  select 
  NOC,
  Edition,
  min(MedalValue) as max_medal_value

  from mydb.dbo.OlympicsData_medalists 
  where 
  NOC = @country
  and Edition = @year
  GROUP BY 
  NOC,
  Edition

  END;

In [113]:
EXEC find_max_medal_value "EST", 2000;

NOC,Edition,max_medal_value
EST,2000,1